p.text {
  color: green;
}

.test {
  color: black;

  .santi {
    color: red;
  }
}

p.bloep {
  background-size: contain;
  color: purple;
}

.blokje {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}
