html
    head
        title Santi
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
            // Materialize and Fontawesome
            link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        p Hallo
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
